.DS_STORE
.env
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
build/
go.work
go.work.sum

/ui/.DS_Store
/ui/.idea
/ui/.vscode/*
/ui/*.local
/ui/*.log
/ui/*.njsproj
/ui/*.ntvs*
/ui/*.sln
/ui/*.suo
/ui/*.sw?
/ui/dist
/ui/dist-ssr
/ui/lerna-debug.log*
/ui/logs
/ui/node_modules
/ui/npm-debug.log*
/ui/pnpm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*

/tmp/*