<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{if .Title}}{{.Title}} - Neba{{else}}Neba{{end}}</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css" />
    {{block "head" .}}{{end}}
  </head>
  <body>
    <div class="ui container">
      <header class="ui basic segment">
        <h1 class="ui huge header">
          Neba
          <div class="sub header">Axis Device Management Tool</div>
        </h1>
        {{template "navigation" .}}
      </header>

      <main class="ui main container">{{block "content" .}}{{end}}</main>

      <footer class="ui basic segment">
        <div class="ui center aligned basic segment">
          <div class="ui horizontal divider"></div>
          <p class="ui tiny text">
            Neba is an independent project with no official affiliation or
            endorsement from Axis Communications. Use it at your own risk.
          </p>
        </div>
      </footer>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/semantic.min.js"></script>
    <script src="/static/main.js"></script>
    {{block "scripts" .}}{{end}}
  </body>
</html>
