<!DOCTYPE html>
<html>
  <head>
    <title>Device List</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Discovered Devices</h1>
    <table>
      <tr>
        <th>USN</th>
        <th>Location</th>
        <th>Server</th>
      </tr>
      {{range .}}
      <tr>
        <td>{{.FriendlyName}}</td>
        <td>{{.ModelName}}</td>
        <td>{{.PresentationURL}}</td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
