<style>
  table {
    --bs-table-hover-bg: var(--bs-light) !important;
  }
</style>

{{if .Devices}}
<div class="card table-responsive p-3">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Friendly Name</th>
        <th scope="col">Model</th>
        <th scope="col">Serial Number</th>
        <th scope="col">Presentation URL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="align-middle">
      {{range .Devices}}
      <tr>
        <td>{{.FriendlyName}}</td>
        <td>{{.ModelName}}</td>
        <td>{{.SerialNumber}}</td>
        <td>{{.PresentationURL}}</td>
        <td>
          <a
            href="{{.PresentationURL}}"
            target="_blank"
            rel="noopener"
            type="button"
            class="btn btn-sm btn-outline-primary"
          >
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{else}}
<div class="alert alert-light" role="alert">
  <h5 class="alert-heading">
    <i class="bi bi-info-circle"></i>
    No device found
  </h5>
  <hr />
  <p>
    No devices were detected on your network at this time. Please ensure your
    devices are powered on and connected to the same network as this computer.
    If you believe this is an error, try refreshing the page or checking your
    network settings. For further assistance, consult the documentation.
  </p>
  {{if .Error}}
  <p>
    <em
      >Server response:<br />
      {{.Error}}</em
    >
  </p>
  {{end}}
</div>
{{end}}
