<style>
  .hover-elevate {
    transition: box-shadow 0.2s ease;
  }
  .hover-elevate:hover {
    box-shadow: var(--bs-box-shadow);
  }
</style>

<div
  class="card hover-elevate"
  hx-get="/discover"
  hx-target="#main"
  type="button"
>
  <div class="card-body">
    <h5 class="card-title">Discover Devices</h5>
    <p class="card-text">
      Discover Axis products on your network using the Simple Service Discovery
      Protocol (SSDP).
    </p>
  </div>
</div>

<div
  class="card hover-elevate mt-3"
  hx-get="/manage"
  hx-target="#main"
  type="button"
>
  <div class="card-body">
    <h5 class="card-title">Manage Devices</h5>
    <p class="card-text">
      Perform resets, restarts, and retrieve logs from your Axis devices.
    </p>
  </div>
</div>
