<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neba</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/bootstrap-icons.min.css" />
  </head>
  <body>
    <header
      id="header"
      class="container-sm mt-3"
      hx-get="/home"
      hx-target="#main"
      hx-trigger="load"
    >
      <div class="card">
        <div
          class="card-body d-flex align-items-center justify-content-between"
        >
          <h5 class="m-0" type="button" hx-get="/home" hx-target="#main">
            Neba — Axis Device Management Tool
          </h5>
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li>
                <a
                  class="dropdown-item"
                  type="button"
                  hx-get="/home"
                  hx-target="#main"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  type="button"
                  hx-get="/discover"
                  hx-target="#main"
                  >Discover Devices</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  type="button"
                  hx-get="/manage"
                  hx-target="#main"
                  >Manage Devices</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main id="main" class="container-sm mt-3"></main>

    <footer id="footer" class="container-sm mt-3 mb-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Neba is an independent project with no official affiliation or
            endorsement from Axis Communications. Use it at your own risk.
          </p>
        </div>
      </div>
    </footer>

    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
